# DEV
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL_MODE=

# PROD (popuni iz svog provajdera baze, npr. Aiven)
# DB_HOST=
# DB_PORT=
# DB_USER=
# DB_PASSWORD=
# DB_NAME=
# DB_SSL_MODE=REQUIRED

JWT_SECRET=
