# Database
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL_MODE=DISABLED
DB_CONNECTION_LIMIT=10

# JWT
JWT_SECRET=

# Runtime: all | auth | users | subjects | attendance | points | projects | defenses
SERVICE_NAME=all
PORT=3000
